.boxForm {
  width: 100%;
  max-width: 36em;

  display: flex;
  flex-direction: column;

  margin: 5em auto;
  border-radius: 8px;
  padding: 2em;

  .form {
    display: flex;
    flex-direction: column;
    margin-block: 15em 2em;

    input {
      height: 2.5em;
      outline: none;
      border-radius: 5px;

      border: 1px solid rgb(255, 255, 255);
      margin-top: 0.2em;
    }
    p {
      margin-block: 1em;
    }
    label {
      font-size: 0.8rem;
      font-weight: 800;
      color: var(--BG-COLOR2);
    }

    .cardNumbers {
      .cardNumber {
        width: 5em;
        text-align: center;
        &:not(:nth-of-type(1)) {
          margin-left: 0.95em;
        }
      }
    }
    .holder {
      input {
        width: 97.5%;
        padding: 0 0.5em;
      }
    }
    .dateCvvInfos {
      display: flex;

      .dateCvvInfo {
        text-align: center;
      }

      .year {
        margin-left: 0.5em;
      }

      .cvvNumber {
        margin-left: 12.5em;

        input {
          width: 5em;
          text-align: center;
        }
      }
    }
  }

  .button {
    margin-inline: auto;

    .btn {
      border: none;
      outline: none;
      cursor: pointer;

      padding: 0.6em 9em;
      border-radius: 3px;

      letter-spacing: 2px;
    }
  }
}
