@mixin flexBOx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 32em;
  height: 20em;
  position: absolute;
  top: 27em;
  cursor: pointer;
  transition: var(--TRANSITION);
  perspective: 1000px;
  user-select: none;

  .visaLogo {
    width: 4em;
  }

  .container {
    position: relative;
    height: 100%;
    width: 100%;

    transition: all 1s;
    transform-style: preserve-3d;

    .cardImage {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;

      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/Images/map.png);
      background-position: center center;
      background-size: cover;
      border-radius: 10px;
    }

    .frontCard {
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 1em 2em;
      z-index: 1;

      background-image: linear-gradient(
        45deg,
        var(--BG-COLOR1),
        var(--BG-COLOR)
      );
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      header {
        @include flexBOx();
        .chip {
          width: 4em;
        }
      }
      main {
        color: var(--BG-COLOR2);
        @include flexBOx();
        font-size: 2rem;
      }
      footer {
        @include flexBOx();
        color: #999;

        .field {
          font-weight: 700;
          font-size: 1.2rem;
          margin-top: 0.4em;
        }
      }
    }

    .backCard {
      backface-visibility: hidden;
      transform: rotateY(180deg);

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 1em 2em;
      z-index: 1;
      padding: 0;

      background-image: linear-gradient(
        45deg,
        var(--BG-COLOR1),
        var(--BG-COLOR)
      );
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .blackBar {
        width: 100%;
        height: 3em;
        background-color: #111;
        margin-block: 2em;
      }
      .blockCvv {
        display: flex;
        align-items: center;
        margin-inline: 1em;

        .pattern {
          width: 25em;
        }
        .cvvCode {
          background-color: var(--BG-COLOR2);
          height: 2em;
          width: 3em;
          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      .moto {
        color: var(--BG-COLOR2);
        margin-inline: 1em;
      }
      .visaLogo {
        margin-left: 26em;
        margin-bottom: 1em;
      }
    }
  }
  &:hover .container {
    transform: rotateY(-180deg);
  }
}
.cardMove {
  top: 6em;
}
