* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}
html {
  font-size: 62.5%;
}
:root {
  --CARD-COLOR1: rgb(2, 94, 94);
  --CARD-COLOR2: rgb(155, 22, 100);
  --CONTAINER-BG-COLOR: rgb(255, 255, 255);
  --BG-COLOR1: steelblue;
  --FONT-FAMILY: sans-serif, Helvetica;
  --MAIN-TRANSITION: all 0.5s linear;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: radial-gradient(rgb(54, 248, 248), rgb(218, 62, 6));

  display: flex;
  justify-content: center;
  align-items: flex-start;

  // container
  .container {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, 0.1) 16%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, 0.1) 8px 9px);
    background-size: 16px 16px;
    background-color: #161616;

    width: 100%;
    max-width: 36em;
    margin-block: 3em;
    border-radius: 10px;
    padding: 2em;
    font-family: var(--FONT-FAMILY);

    display: flex;
    flex-direction: column;
    align-items: center;

    //card section

    .cardFront {
      position: absolute;
      z-index: 1;

      width: 100%;
      max-width: 32em;
      border-radius: 10px;
      height: 18em;
      padding: 1em 2em;

      background-image: linear-gradient(
        45deg,
        var(--CARD-COLOR1),
        var(--CARD-COLOR2)
      );

      top: 36em;
      transition: var(--MAIN-TRANSITION);
      cursor: pointer;

      .cardImage {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url(/Images/map.png);
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--CONTAINER-BG-COLOR);

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .chip {
          width: 4em;
        }
        .visaLogo {
          width: 6em;
        }
      }

      main {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 600;
        word-spacing: 10px;
      }

      .holderInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .holderName,
        .dateExpire {
          color: rgb(148, 148, 148);
        }
        .holderNameField,
        .dateExpireField {
          font-size: 1.2rem;
          font-weight: 700;
          margin-block: 0.3em;
        }
      }
    }
    .cardBack {
      position: absolute;
      z-index: 1;

      width: 100%;
      max-width: 32em;
      border-radius: 10px;
      height: 18em;

      background-image: linear-gradient(
        45deg,
        var(--CARD-COLOR1),
        var(--CARD-COLOR2)
      );
      .cardImage {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url(/Images/map.png);
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
      }

      .blackBox {
        width: 32em;
        height: 3.5em;
        background-color: #111;
        margin-block: 2em;
      }

      .codeBox {
        margin-top: 4em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .cardPattern {
          width: 24em;
        }
        .cardCode {
          background-color: var(--CONTAINER-BG-COLOR);
          padding: 0.7em 1.3em;
          font-family: var(--FONT-FAMILY);
          font-size: 1.2rem;
          border-radius: 3px;
          font-weight: 600;
          text-align: center;
        }
      }
      .visaLogo {
        width: 6em;
        margin: 2em 0 0 25em;
      }
    }
    .cardChange {
      top: 9%;
    }

    .heading {
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--CONTAINER-BG-COLOR);
      font-family: var(--FONT-FAMILY);
      margin-top: 2em;
    }

    // form section

    .form {
      margin-top: 20em;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--CONTAINER-BG-COLOR);

      label {
        font-size: 0.8rem;
        font-family: var(--FONT-FAMILY);
        font-weight: 700;
      }
      p {
        margin-block: 0.8em;
        width: 100%;
      }
      input {
        padding: 0.3em;
        margin-top: 0.2em;
        outline: none;
      }
      .cardNumbersInput {
        display: flex;
        justify-content: space-between;

        .cardNumbers {
          width: 5em;
          text-align: center;
        }
        .cardNumbers:not(:nth-of-type(1)) {
          margin-left: 0.72em;
        }
      }
      .cardHolderInput {
        .cardHolder {
          width: 100%;
        }
      }
      .cardDataInputs {
        display: flex;
        justify-content: space-between;
        .cardDataInput {
          width: 5em;
        }
        .year {
          margin-left: 0.3em;
        }
        .code {
          text-align: center;
          font-family: var(--FONT-FAMILY);
        }
      }
      .btn {
        margin-block: 2em;
        .submit {
          border: none;
          background-color: var(--CARD-COLOR1);
          padding: 0.5em 8em;
          color: var(--CONTAINER-BG-COLOR);
          font-family: var(--FONT-FAMILY);
          font-size: 1.5rem;
          border-radius: 5px;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}
